
.container{
  background-color: var(--body_background) !important;
  color: var(--body_color) !important;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-container {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--para-clr);
  transform: translate(-50%, -50%);
  background-color: var(--body_background) !important;
  /* padding-top: 12%; */
}

.center-container .image-control {
  display: block;
  margin: 0 auto;
  padding-top: 2rem;
  background-color: var(--body_background);
}

